#Header {
    width: 500px;
    border:solid 8px black;
    margin-right: 30px;
    margin-bottom:10px;
    margin-left: 50px;
    text-align: center;
    font-style: italic
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight:bold;
}


#LeftNav {
    width: 400px;
    float: left;
    padding-bottom: 8px;
}

#Content {
    width: 700px;
    padding: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

p {
    font-family: "Arial";
    color: green;
}

div {
    background-color:rgb(75, 65, 213);
}

body {
    background-image: url('dark_wood.png');
    font-family: 'Times New Roman', Times, serif
}

a {
    color: rgb(177, 30, 157);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

